.buttons-main {
    width: 45px;
    height: 45px;
    display: flex;
    text-align: center;
    background-color: #dfdede;
    border-radius: 2px;
  }
  .buttons-mainClass {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    gap: 10px;
  }